name: Test

on:
  push:
    branches:
      - main
    paths:
      - '**/*.swift'
      - 'Package.swift'
      - 'Package.resolved'
      - '.github/workflows/test.yml'
  pull_request:
    branches:
      - '*'
    paths:
      - '**/*.swift'
      - 'Package.swift'
      - 'Package.resolved'
      - '.github/workflows/test.yml'

jobs:
  macos:
    name: macOS
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Swift version
      run: swift --version

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v
